<form action="/restaurants/{{restaurant._id}}/edit" method="POST">
  <div class="input-group input-group-sm mb-1">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">餐廳名稱</span>
    </div>
    <input type="text" class="form-control" name="name" value="{{restaurant.name}}">
  </div>
  <div class="input-group input-group-sm mb-1">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">餐廳種類</span>
    </div>
    <input type="text" class="form-control" name="category" value="{{restaurant.category}}">
  </div>
  <div class="input-group input-group-sm mb-1">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">餐廳地址</span>
    </div>
    <input type="text" class="form-control" name="location" value="{{restaurant.location}}">
  </div>
  <div class="input-group input-group-sm mb-1">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">餐廳電話</span>
    </div>
    <input type="text" class="form-control" name="phone" value="{{restaurant.phone}}">
  </div>
  <div class="input-group input-group-sm mb-1">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">餐廳評等</span>
    </div>
    <input type="text" class="form-control" name="rating" value="{{restaurant.rating}}">
  </div>
  <div class="input-group input-group-sm mb-1">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-sm">餐廳描述</span>
    </div>
    <input type="text" class="form-control" name="description" value="{{restaurant.description}}">
  </div>
  <button type="submit" class="btn btn-warning my-1 mx-1" style="width: 100px;">Save</button>
</form>
<form action="/restaurants/{{restaurant._id}}/delete" method="POST">
  <button type="submit" class="btn btn-danger my-1 mx-1" style="width: 100px;">Delete</button>
</form>